{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management System</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'register/main.css' %}" />
  </head>
  <body>
    <div class="box-left">
      <header class="header">
        <h2 class="header__heading--primary">
          Employee Management System
          <span class="header__heading--secondary">for keeping track of your employees.</span>
        </h2>
      </header>

      <footer class="footer">
        <ul class="footer__items">
          <li class="footer__item">
            <a class="footer__link" href="#">Terms of Service</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Privacy Policy</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Contact Us</a>
          </li>
        </ul>
      </footer>
    </div>

    <div class="box-right">
      <form class="form" method="post">
        <div class="message"></div>
        {% csrf_token %} {% block content %}{% endblock %}
      </form>
    </div>
  </body>
</html>
