{% extends 'register/base.html' %} {% block content %}
<h2 class="form__heading"><span>Login</span> to your account</h2>
<input type="text" name="username" id="username" class="form__input" placeholder="username" />
<input type="password" name="password" id="password" class="form__input" placeholder="enter your password" />

<button type="submit" class="btn btn-primary" data-url="/signup/">Login</button>
<a href="{% url 'signup' %}" class="btn btn-secondary">Don't have an account? Create one</a>
{% endblock %}
