{% extends 'register/base.html' %} {% block content %}
<div class="box-left">
  <header class="header">
    <h2 class="header__heading--primary">
      Employee Management System
      <span class="header__heading--secondary">for keeping track of your employees.</span>
    </h2>
  </header>

  <footer class="footer">
    <ul class="footer__items">
      <li class="footer__item">
        <a class="footer__link" href="#">Terms of Service</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Privacy Policy</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Contact Us</a>
      </li>
    </ul>
  </footer>
</div>

<div class="box-right">
  <form class="form" method="post">
    <div class="message"></div>
    {% csrf_token %}
    <h2 class="form__heading"><span>Signup</span> to continue</h2>
    <input type="text" name="username" id="username" class="form__input" placeholder="username" />
    <input type="email" name="email" id="email" class="form__input" placeholder="enter your email" />
    <input type="password" name="password" id="password" class="form__input" placeholder="enter your password" />

    <button type="submit" class="btn btn-primary" data-url="/signup/">Create Account</button>
    <a href="/login/" class="btn btn-secondary">Already have an account? Login</a>
  </form>
</div>
{% endblock %}
