{% extends 'register/base.html' %} {% block content %}
<h2 class="form__heading"><span>Signup</span> to continue</h2>
<input type="text" name="username" id="username" class="form__input" placeholder="username" />
<input type="email" name="email" id="email" class="form__input" placeholder="enter your email" />
<input type="password" name="password" id="password" class="form__input" placeholder="enter your password" />

<button type="submit" class="btn btn-primary" data-url="/signup/">Create Account</button>
<a href="{% url 'login' %}" class="btn btn-secondary">Already have an account? Login</a>
{% endblock %}
