{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock %} {% block content %}
<div class="form-container">
  <form class="form-container__form" action="/form/attendence/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label for="date">Date</label>
      <input required class="form-group__input" id="date" name="date" type="date" value="" />
    </div>

    <div class="form-group">
      <label for="check_in_time">Check in time</label>
      <input required class="form-group__input" id="check_in_time" name="check_in_time" type="time" value="" />
    </div>

    <div class="form-group">
      <label for="check_out_time">Check out time</label>
      <input required class="form-group__input" id="check_out_time" name="check_out_time" type="time" value="" />
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select id="status" name="status">
        <option value="Present">Present</option>
        <option value="Absent">Absent</option>
        <option value="Leave">Leave</option>
        <option value="Half Day">Half Day</option>
      </select>
    </div>

    <div class="form-group">
      <label for="employee">Employee</label>
      <select id="employee" name="employee">
        <option value="" selected="">--------</option>
        {% for employee in employees %}
        <option value="{{ employee.id }}">{{ employee.first_name }}, {{ employee.last_name }}</option>
        {% endfor %}
      </select>
    </div>

    <button class="form-btn" type="submit">Save</button>
  </form>
</div>
{% endblock %}
