{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management System</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header class="header">
      <nav class="header-nav">
        <a class="header-nav__link" href="/form/employees/">Employee form</a>
        <a class="header-nav__link" href="/form/departments/">Department form</a>
        <a class="header-nav__link" href="/form/address/">Address form</a>
        <a class="header-nav__link" href="/form/salaries/">Salary form</a>
        <a class="header-nav__link" href="/form/attendence/">Attendence form</a>
        <a class="header-nav__link" href="/form/leave-requests/">Employee leave form</a>
        <a class="header-nav__link" href="/form/position-hierarchy/">Employee position form</a>
      </nav>

      <nav class="header-nav">
        <a class="header-nav__link" href="/dashboard/employee-data/?page=1">View employees data</a>
        <a class="header-nav__link" href="/data/departments/">View departments data</a>
        <a class="header-nav__link" href="#">View address data</a>
        <a class="header-nav__link" href="#">View salaries</a>
        <a class="header-nav__link" href="#">View attendence data</a>
        <a class="header-nav__link" href="#">View employee leaves data</a>
        <a class="header-nav__link" href="#">View employee position data</a>
      </nav>
    </header>
    <form action="{% url 'logout' %}" class="header__form">
      {% csrf_token %}
      <button type="submit" class="btn-primary btn-primary--orange">Logout</button>
    </form>
    {% block content %}{% endblock %}
  </body>
</html>
