{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'data/main.css' %}" />
{% endblock %} {% block content %}
<div class="text-box">
  <h1 class="heading-main">Employee leave data</h1>
</div>

{% if page_obj %} {% with leave_request=page_obj.object_list.0 %}
<main class="container">
  <h2 class="container__heading">Start Date: <span>{{ leave_request.start_date }}</span></h2>
  <h2 class="container__heading">End Date: <span>{{ leave_request.end_date }}</span></h2>
  <h2 class="container__heading">Reason: <span>{{ leave_request.reason }}</span></h2>
  <h2 class="container__heading">Status: <span>{{ leave_request.status }}</span></h2>

  {% if leave_request.employee %}
  <h2 class="container__heading">
    Employee: <span>{{ leave_request.employee.first_name }} {{ leave_request.employee.last_name }}</span>
  </h2>
  {% else %}
  <h2 class="container__heading">Employee: <span>Not Assigned</span></h2>
  {% endif %}
  <div class="pagination">
    {% if page_obj.has_previous %}
    <a class="btn btn-primary btn-primary--orange" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %} {% if page_obj.has_next %}
    <a class="btn btn-primary btn-primary--orange" href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</main>

{% endwith %} {% else %}
<p class="paragraph-info">No Leave Request data available.</p>
{% endif %} {% endblock %}
